body {
    background-color: #f2f2f7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
}

form {
    background: white;
    width: 450px;
    margin: 40px auto;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

form button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

form button:hover {
    background-color: red;
}